<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="statisticsite_IncreaseCounter" value="http://10.5.10.48:53456/service/AppCounter/IncreaseCounter.aspx"/>
    <add key="statisticsite_GetTime" value="http://10.5.10.48:53456/service/AppCounter/GetTime.aspx"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UpdateCheckSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:38764/UpdateCheck.asmx" binding="basicHttpBinding"
          bindingConfiguration="UpdateCheckSoap" contract="UpdateCheckService.UpdateCheckSoap"
          name="UpdateCheckSoap" />
    </client>
  </system.serviceModel>
</configuration>