<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UpdateCheckSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:38764/UpdateCheck.asmx" binding="basicHttpBinding"
                bindingConfiguration="UpdateCheckSoap" contract="UpdateCheckService.UpdateCheckSoap"
                name="UpdateCheckSoap" />
        </client>
    </system.serviceModel>
</configuration>